/* Background color */
body{
    background-color: #E2EDF2;
    margin: 5px 0 0 0;
    overflow: hidden;
}
/* Exitoso advertisement. */
#exitoso{
    width: 500px;
    height: 260px;
    background-color: #c6e0ec;
    margin-left: 34%;
    margin-top: 12%;
    text-align: center;
    padding-top: 65px;
    box-sizing: border-box;
    >a{
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Urbanist';
        cursor: pointer;
        background-color: #1A3442;
        width: 150px;
        height: 40px;
        border-radius: 10px;
        box-sizing: border-box;
        padding-top: 7px;
    }
}
/*** Styling del footer ***/
footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40rem;
    height: 85px;
    width: 1170px;
    padding: 0 3.5rem;
    background-color: #CADBE2;
    width: 100%;
    position: relative;
    margin-top: 28vh;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

footer p, footer a {
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
}


footer a:hover {
    color: #AB8707;
}