body {
    background-color: #E2EDF2;
    font-family: Urbanist;
}

section {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

h1 {
    color: #0D7FBE;
    margin-top: 20px;
}

a {
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 18px;
    height: 36px;
    width: 150px;
    font-family: 'Urbanist';
    font-weight: 700;
    cursor: pointer;
    background-color: #24475B;
    border-radius: 10px;
    color: white;
}

a:hover {
    background-color: transparent;
    border: 1px solid #24475B;
    color: black;
}